.Input{
    width:100%;
    padding:15px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    color : rgb(88, 83, 83);
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: rgb(235, 231, 231);
    border-radius: 1rem;
    padding: 6px 10px;
    display: block;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}